.star_Innactive {
    color: #E3E3E3;
    background-color: #E3E3E3;
    fill: #E3E3E3;
}


.stars {
    display: flex;
    flex-direction: row;     
}

.inactive {
    fill: grey;
}

.active,
.inactive {
    width: 30px;
    height: 18px;
}