.host {
    display: flex;
    width: 135.5px;
    height: 33px;
    justify-content: center;
    align-items: flex-start;
    gap: 10.5px;
    flex-shrink: 0;
}

.host-photo {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.host-name {
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 33px;
    margin: 0px;
    text-align: center;
}