.navBar {
    display: flex;
    max-width: 768px;
    width: 100%;
    align-items: center;
}

.photoKasa {
    width: 145px;
    height: 46.881px;
    flex-shrink: 0;
}

.linkNav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 26px;
    flex: 1 0 0;
}

.linkHome,
.linkAbout {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 17.112px */
    text-decoration-line: underline;
}