.Banner {
    display: flex;
    width: 100%;
    align-items: center;
}

.LogoKasa{
    background-color: transparent;
}

.NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 26px;
    flex: 1 0 0;
}

.Link1 {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 17.112px */
    text-decoration-line: underline;
}

.Link2 { 
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 17.112px */
}